# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", "By", "CampusX", sep = '-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
temperature = int(input("Enter temperature : "))
print(temperature * 32)

Enter temperature : 10
320

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))

a, b = b, a

print(f"a = {a}, b = {b}")

Enter first number : 1
Enter second number : 2
a = 2, b = 1

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [12]:
# Write your code here
x1 = float(input("Enter x-cordinate of ptr1: "))
y1 = float(input("Enter y-cordinate of ptr1: "))

x2 = float(input("Enter x-cordinate of ptr2: "))
y2 = float(input("Enter y-cordinate of ptr2: "))

distance = (((y2 - y1)**2) + ((x2 - x1)**2))**(1/2) # This last bracket is important
print("Distance : ", distance)

Enter x-cordinate of ptr1: 1
Enter y-cordinate of ptr1: 1
Enter x-cordinate of ptr2: 2
Enter y-cordinate of ptr2: 2
Distance :  1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [14]:
# Write your code here
principle = float(input("Enter principle amount : "))
rate_of_interest = float(input("Enter rate of interest : "))
time_period = float(input("Enter time period in years : "))

si = principle * rate_of_interest * time_period / 100
print(si)

Enter principle amount : 10000
Enter rate of interest : 7.8
Enter time period in years : 5
3900.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
# Write your code here
heads = int(input("Heads : "))
legs = int(input("Legs : "))

chickens = (4 * heads - legs) / 2
dogs = heads - chickens

print("Chickens : ", int(chickens))
print("Dogs : ", int(dogs))

# Using loops

# for chicken in range(heads + 1):
#     dogs = heads - chicken
#     if ((2 * chicken) + (4 * dogs == legs)):
#         print("Chickens : ", int(chicken))
#         print("Dogs : ", int(dogs))
#         break

Heads : 4
Legs : 12
Chickens :  2
Dogs :  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [17]:
# Write your code here
n = int(input("Enter the number : "))

sum_of_squares = n * (n + 1) * (2 * n + 1) / 6
print(sum_of_squares)

Enter the number : 3
14.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [21]:
# Write your code here
first_term = int(input("First term : "))
second_term = int(input("Second term : "))
nth_term = int(input("n value : "))

cd = second_term - first_term
n_term = first_term + ((nth_term - 1) * cd)
print(n_term)

First term : 1
Second term : 5
n value : 10
37

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [22]:
# Write your code here
num1 = int(input("Enter numerator_1 number : "))
den1 = int(input("Enter denomator_1 number : "))
num2 = int(input("Enter numerator_2 number : "))
den2 = int(input("Enter denomator_2 number : "))

print(((num1 * den2) + (den1 * num2)) / (den1 * den2))

Enter numerator_1 number : 1
Enter denomator_1 number : 2
Enter numerator_2 number : 3
Enter denomator_2 number : 4
1.25

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [24]:
# Write your code here
a = int(input("Length : "))
b = int(input("Breadth : "))
c = int(input("Height : "))

h = int(input("Height : "))
r = int(input("Radius : "))

print(int((a * b * c) / (3.14 * r * r * h)))

Length : 10
Breadth : 20
Height : 30
Height : 3
Radius : 2
159